:root {
  --mode-transition: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg,
.mantine-Text-root, 
.mantine-Button-root,
.mantine-Tabs-tab,
.mantine-Title-root {
  transition: color var(--mode-transition);
}

body, 
.mantine-Header-root, 
.mantine-AppShell-main, 
.mantine-Paper-root {
  transition: background-color var(--mode-transition), border-color var(--mode-transition);
}

.mantine-Button-root {
  transition: background-color var(--mode-transition), color var(--mode-transition), border-color var(--mode-transition);
}
*/